<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <meta content="width=device-width, initial-scale=1, user-scalable=1, minimum-scale=1, maximum-scale=5"
        name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/uikit.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    {% block content %}{% endblock %}
    <script type="text/javascript" async="" src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
</body>

</html>