@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
html{
    font-size: 14px;
    color: #000;
}
body{
    margin: 0 auto;

    padding: 0;
    width: 100%;
}
.uk-form-label, .uk-input{
    color: #000 !important;
}
.uk-form-label{
    font-weight: bold;
}
@media screen and (max-width:350px) {
    .k-login{
        padding: 0 !important;
        height: 100vh !important;
        width: 100% !important;
        border-radius: 0 !important
    }
}
div.container{
    width: 100%;
    height: auto;
}
h1,h2,h3,h4,h5,h6,p,a,span,label{
    font-family: 'Quicksand', sans-serif !important;
}
.images-login{
    height: 100vh;
}
.bor{
    border-radius:50px;
}

table.table-default {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
table.table-default th,table.table-default td {
    padding: 1rem;
    text-align: center;
}
table.table-default th {
    background-color: #f0506e;
    color: #fff;
    font-weight: 600;
}
table.table-default tr {
    padding: 0;
}
table.table-default td {
    vertical-align: middle;
}
table.table-default td ul{
    list-style: none;
}
table.table-default tr:nth-child(even) td {
    background-color: rgba(0, 0, 0, .075);
}

@media screen and (max-width: 640px) {
    table.table-default thead,
    table.table-defaultth {
        display: none;
    }

    table.table-default tr,
    table.table-default td {
        display: block;
    }

    table.table-default tr {
        background-color: rgba(0, 0, 0, .075);
        margin-bottom: 2rem;
    }

    table.table-default tr:last-child {
        margin-bottom: 0;
    }

    table.table-default tr:nth-child(even) td {
        background-color: transparent;
    }

    table.table-default td {
        clear: both;
        text-align: right;
    }

    table.table-default td:before {
        content: attr(data-label)': ';
        float: left;
        font-weight: bold;
        margin-right: 1rem;
    }
}

div.content{
    max-width: 1200px;
    margin: 0 auto;
}
table.bangdiem{
    table-layout: fixed;
    width: 100%;
    display: inline-table;
    min-width: 1245px;
}
table.bangdiem td{
    border:1px solid rgba(0, 0, 0, .075); 
    vertical-align:middle;
}
table.bangdiem th{
    font-weight: bold;
    text-align: center;
    background-color: #f0506e;
    color: #fff;
    border: 1px solid #fff;
    vertical-align:middle;
}
table.bangdiem td{
    padding: 7px !important;
}
table.bangdiem colgroup col:nth-of-type(1)
{
  width: 50px !important;
}
table.bangdiem colgroup col:nth-of-type(2)
{
  width: 120px !important;
}
table.bangdiem colgroup col:nth-of-type(3)
{
  width: 230px !important;
}
table.bangdiem td:nth-of-type(1),
table.bangdiem td:nth-of-type(4),
table.bangdiem td:nth-of-type(5),
table.bangdiem td:nth-of-type(6),
table.bangdiem td:nth-of-type(7),
table.bangdiem td:nth-of-type(8),
table.bangdiem td:nth-of-type(9),
table.bangdiem td:nth-of-type(10),
table.bangdiem td:nth-of-type(11),
table.bangdiem td:nth-of-type(12),
table.bangdiem td:nth-of-type(13),
table.bangdiem td:nth-of-type(14),
table.bangdiem td:nth-of-type(15),
table.bangdiem td:nth-of-type(16){
    text-align: center;
}


/* icon */
.icon{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
    background-repeat: no-repeat !important;
}
.edit{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-edit'%3E%3Cpath d='M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7'/%3E%3Cpath d='M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z'/%3E%3C/svg%3E");
}
.remove{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-trash-2'%3E%3Cpolyline points='3 6 5 6 21 6'/%3E%3Cpath d='M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2'/%3E%3Cline x1='10' y1='11' x2='10' y2='17'/%3E%3Cline x1='14' y1='11' x2='14' y2='17'/%3E%3C/svg%3E");
}
.user{
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle fill='none' stroke='%23000' stroke-width='1.1' cx='9.9' cy='6.4' r='4.4'%3E%3C/circle%3E%3Cpath fill='none' stroke='%23000' stroke-width='1.1' d='M1.5,19 C2.3,14.5 5.8,11.2 10,11.2 C14.2,11.2 17.7,14.6 18.5,19.2'%3E%3C/path%3E%3C/svg%3E");
}
.lock{
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Crect fill='none' stroke='%23000' height='10' width='13' y='8.5' x='3.5'%3E%3C/rect%3E%3Cpath fill='none' stroke='%23000' d='M6.5,8 L6.5,4.88 C6.5,3.01 8.07,1.5 10,1.5 C11.93,1.5 13.5,3.01 13.5,4.88 L13.5,8'%3E%3C/path%3E%3C/svg%3E");
}
.add{
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' stroke='%23fff' stroke-width='1' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='9' y='1' width='1' height='17'%3E%3C/rect%3E%3Crect x='1' y='9' width='17' height='1'%3E%3C/rect%3E%3C/svg%3E");
}